<h1> Qui sommes nous ?</h1>
<p>Vous pouvez retrouver des informations sur moi : <a href="<%= me_path %>">par ici</a> </p>
<p>Ou sur ma <strong>super team </strong>: <a href="<%= stras_path %>">par là</a></p>
